/*** page ***/
	html, body {
		height: 100%;
		width: 100%;
		box-shadow: 0px 0px 20px #111111 inset;
	}

	/* container */
		#overlay {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			height: auto;
			width: 75%;
			font-family: 'Skranji', fantasy;
			font-size: 20px;
			color: #222222;
			overflow: hidden;
			user-select: none;
			text-align: left;
		}

		#canvas {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 100vw;
			height: 50vw;
			max-width: 200vh;
			max-height: 100vh;
		}
