/*** page ***/
	html, body {
		height: 100%;
		width: 100%;
		box-shadow: 0px 0px 20px var(--black-4) inset;
		background-color: var(--black-4);
		overflow: hidden;
		cursor: pointer;
	}

	body.clicked {
		cursor: none;
	}

	/* overlay */
		#overlay {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: auto;
			width: 75%;
			font-family: var(--font);
			overflow: hidden;
			user-select: none;
		}

		#overlay.intro {
			font-size: 20px;
			text-align: left;
			color: var(--white-4);
			line-height: 1.35;
		}

		#overlay.rejoin {
			font-size: 64px; 
			text-align: center;
			color: var(--black-4);
			text-shadow: 0px 0px 10px var(--white-4);
		}

		#overlay:not(.intro):not(.rejoin) {
			display: none;
		}

	/* canvas */
		#canvas {
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			min-width: 200vh;
			min-height: 100vh;
			width: 100vw;
			height: 50vw;
		}
